* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Rubik", sans-serif;
  position: relative;
  box-sizing: border-box;
}

h2 {
  font-size: 48px;
  color: white;
  margin-left: 13.5%;
}

h3 {
  font-size: 26px;
  color: white;
  margin-left: 13.5%;
}

p {
  line-height: 2;
  margin-left: 13.5%;
  color: white;
}

nav {
  padding-top: 2%;
}

table {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-left: 13.5%;
  margin-top: 5%;
}

td {
  border: 3px solid white;
  padding: 0px 25px;
}

.nav li {
  list-style: none;
  display: inline;
  position: relative;
  left: 30%;
  padding: 0% 3%;
  color: white;
  font-size: 20px;
}

.nav li a {
  text-decoration: none;
  color: white;
}

.nav li a:hover {
  color: #2a9d8f;
}

.logo {
  height: 25px;
  position: absolute;
  margin-left: 14%;
  margin-right: 20%;
  filter: opacity(0.4) drop-shadow(0 0 0 red);
}

.hero-img {
  background-image: url(./HTML/resources/Images/pexels-rebecca-diack-1154723.jpg);
  height: 500px;
  background-size: cover;
  opacity: 0.9;
  position: relative;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
}

.intro {
  padding: 5% 20% 5% 5%;
}

.intro p {
  color: #264653;
}

.intro h2 {
  color: #2a9d8f;
  margin-bottom: 30px;
}

/* Colors */

#colors {
  background-color: #e76f51;
  height: 100vh;
}

.colors-content,
.fonts-content,
.text-styles-content {
  padding: 7% 20% 7% 5%;
  position: relative;
}

.color-buttons {
  margin-left: 13.5%;
}

.color-buttons button {
  height: 200px;
  width: 200px;
  margin: 3% 3% 3% 0;
  border: 10px solid white;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
}

.color-buttons button:hover {
  font-size: 32px;
  transition: font-size 0.1s ease-in-out;
  position: absolute;
}

#color-1 {
  background-color: #e9c46a;
}

#color-1:hover {
  color: #e9c46a;
  background-color: white;
}

#color-2 {
  background-color: #f4a261;
  left: 450px;
}

#color-2:hover {
  color: #f4a261;
  left: 450px;
  background-color: white;
}

#color-3 {
  background-color: #e76f51;
  left: 680px;
}

#color-3:hover {
  color: #e76f51;
  background-color: white;
  left: 680px;
}

#color-4 {
  background-color: #2a9d8f;

  top: 450px;
}

#color-4:hover {
  color: #2a9d8f;
  background-color: white;
}

#color-5 {
  background-color: #264653;
  left: 450px;
  top: 450px;
}

#color-5:hover {
  color: #264653;
  background-color: white;
}

/* fonts */

#fonts {
  background-color: #f4a261;
  height: 100vh;
}

#text-styles {
  background-color: #e9c46a;
  height: 100vh;
}

.fonts-content h3 {
  margin-top: 5%;
}

.font-example {
  font-size: 220px;
  line-height: 1;
  color: #c1c1c1;
}

.font-main {
  color: white;
}
